.container {
  position: relative;
  width: 100%;
  padding: 30px 20px;
  background: #110d0c;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.container h1 {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
