@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  min-height: 100vh;
  background: #110d0c;
}
.react-calendar{
  margin-top: 30px;
  width: 900px;
}
.react-calendar__navigation{
  background: #222222;
  padding : 8px 0px;
  margin-bottom: 10px;
  border: 2px solid #000;
}
.react-calendar__tile{
  padding: 40px;
  color : #fff;
  background: rgba(243, 243, 243, 0.1);
  backdrop-filter: blur(5px);
  border: 2px solid #000;
  margin: 0px;
  cursor: pointer;
}
.react-calendar__navigation__label{
  background: #000;
  color : #fff;
  padding: 10px 20px;
  border: 5px solid rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  cursor: pointer;
}

.react-calendar__navigation__arrow {
  padding: 10px 15px;
  background: #000;
  color : #fff;
  border: 5px solid rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  margin: 0px 5px;
  cursor: pointer;
  margin-left: 11px;
}
.react-calendar__navigation__label__labelText {
  font-size: 16px;
}
.react-calendar__month-view__weekdays__weekday{
  display : none;
}
@import url("./styles/calendar.css");
